<html>
    <head>
        <title>Netflix</title>
    </head>
    <body>
        <h1>Netflix</h1>
        <button id="signInBtn" onclick="location.href='/login';">Oturum Aç</button>
        <button id="signUpBtn" onclick="location.href='/signup';">Kaydol</button>
    </body>
</html>