<html>
    <head>
        <title>Netflix</title>
        <style>
            html{
                font-family: arial;
                background-color: #3B3B3B;
            }
            .button {
                background-color: #FF0000;
                border: none;
                color: white;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                border-radius: 4px;
                cursor: pointer;
               }
        </style>
    </head>
    <body>
        <h1 style="color:red">Netflix</h1>
        <button id="signInBtn" class="button" onclick="location.href='/login';">Sign In</button>
        <button id="signUpBtn" class="button" onclick="location.href='/signup';">Sign Up</button>
    </body>
</html>