<html>
    <head>
    </head>
    <h1>signup</h1>
    <body>
        <form action="/signup" method="post">
            <div id="signupError" class="signupError"><%if(locals.alert)%><%=locals.message%></div>
            <input name="email" type="text" placeholder="E-posta"></input>
            <input name="phone" type="tel" placeholder="Telefon Numarası"></input>
            <input name="password" type="password" placeholder="Password"></input>
            <button type="submit">Kaydol</button>
        </form>
            <a href="/login">Oturum Aç</a>
    </body>
    <script type="text/javascript">
    </script>
</html>